<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrape Movies and Series</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            max-width: 400px;
            margin: 0 auto;
            padding-top: 50px;
        }
        .form-container input, .form-container button, .form-container select {
            width: 100%;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container form-container">
        <h2 class="text-center">Scrape Movies and Series</h2>

        <!-- Form to scrape genres -->
        <form id="scrape-genres-form">
            <button type="button" id="scrape-genres" class="btn btn-secondary">Scrape Genres</button>
        </form>

        <!-- Form to scrape movies -->
        <form id="scrape-movies-form">
            <div class="form-group">
                <label for="category">Select Category</label>
                <select class="form-control" id="category">
                    {% for genre in genres %}
                    <option value="{{ genre.name }}">{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="pages">Number of Subpages</label>
                <input type="number" class="form-control" id="pages" value="1" min="1" max="100">
            </div>
            <button type="button" id="scrape-movies" class="btn btn-secondary">Scrape Movies</button>
        </form>

        <!-- Button to show all results -->
        <form id="show-all-form">
            <button type="button" id="show-all" class="btn btn-primary">Show All</button>
        </form>
    </div>

    <script>
        document.getElementById('scrape-genres').addEventListener('click', async function() {
            try {
                const response = await fetch('/scrape_genres', {
                    method: 'POST'
                });
                const result = await response.json();
                if (response.ok) {
                    window.location.href = result.redirect;
                } else {
                    console.error('Error starting scraping for genres');
                }
            } catch (error) {
                console.error('Error starting scraping for genres');
            }
        });

        document.getElementById('scrape-movies').addEventListener('click', async function() {
            const category = document.getElementById('category').value;
            const pages = document.getElementById('pages').value;
            const urls = [
                `https://kinomaniak.pl/katalog?g=${category}&k=&d=&q=&sf=imdbRating&s=DESC&p=1`,
                // Additional URLs based on pages value
            ];
            try {
                const response = await fetch('/scrape', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ urls, pages, category })
                });
                const result = await response.json();
                if (response.ok) {
                    window.location.href = result.redirect;
                } else {
                    console.error('Error starting scraping for movies');
                }
            } catch (error) {
                console.error('Error starting scraping for movies');
            }
        });

        document.getElementById('show-all').addEventListener('click', function() {
            window.location.href = '/results';
        });
    </script>
</body>
</html>
